{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sala list</h1>

    <table cellpadding="0" cellspacing="0" border="0" class="records_list table table-striped table-bordered" width='100%'>
        <thead>
            <tr>                
                <th>Folio</th>
				<th>Cadena</th>
				<th>Canal</th>
                <th>Dirección</th>                
				<th>Comuna</th>
                <th>Latitud</th>
                <th>Longitud</th>                
                <th>Activo</th>
				<th>Actions</th>
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sala_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
