{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Estudiosala list</h1>

    <table cellpadding="0" cellspacing="0" border="0" class="records_list table table-striped table-bordered" width='100%'>        
    </table>
        <ul>
        <li>
            <a href="{{ path('estudiosala_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
